
RadTri/Builds/VisualStudio2017/.vs/RadTri/v16/.suo
RadTri/Builds/VisualStudio2017/.vs/RadTri/v16/Browse.VC.db
RadTri/Builds/VisualStudio2017/.vs/RadTri/v16/ipch/AutoPCH/8d6752ca2a8f5c6c/PLUGINEDITOR.ipch
RadTri/Builds/VisualStudio2017/.vs/RadTri/v16/ipch/AutoPCH/ba1073f5a8170c79/PLUGINPROCESSOR.ipch
RadTri/Builds/VisualStudio2017/.vs/RadTri/v16/Solution.VC.db
RadTri/Builds/VisualStudio2017/RadTri.sln
RadTri/Builds/VisualStudio2017/RadTri_SharedCode.vcxproj
RadTri/Builds/VisualStudio2017/RadTri_SharedCode.vcxproj.filters
RadTri/Builds/VisualStudio2017/RadTri_SharedCode.vcxproj.user
RadTri/Builds/VisualStudio2017/RadTri_StandalonePlugin.vcxproj
RadTri/Builds/VisualStudio2017/RadTri_StandalonePlugin.vcxproj.filters
RadTri/Builds/VisualStudio2017/RadTri_StandalonePlugin.vcxproj.user
RadTri/Builds/VisualStudio2017/RadTri_VST3.vcxproj
RadTri/Builds/VisualStudio2017/RadTri_VST3.vcxproj.filters
RadTri/Builds/VisualStudio2017/RadTri_VST3.vcxproj.user
RadTri/Builds/VisualStudio2017/resources.rc
RadTri/Builds/VisualStudio2017/x64/Debug/Shared Code/include_juce_audio_basics.obj
RadTri/Builds/VisualStudio2017/x64/Debug/Shared Code/include_juce_audio_devices.obj
RadTri/Builds/VisualStudio2017/x64/Debug/Shared Code/include_juce_audio_formats.obj
RadTri/Builds/VisualStudio2017/x64/Debug/Shared Code/include_juce_audio_plugin_client_utils.obj
RadTri/Builds/VisualStudio2017/x64/Debug/Shared Code/include_juce_audio_processors.obj
RadTri/Builds/VisualStudio2017/x64/Debug/Shared Code/include_juce_audio_utils.obj
RadTri/Builds/VisualStudio2017/x64/Debug/Shared Code/include_juce_core.obj
RadTri/Builds/VisualStudio2017/x64/Debug/Shared Code/include_juce_data_structures.obj
RadTri/Builds/VisualStudio2017/x64/Debug/Shared Code/include_juce_events.obj
RadTri/Builds/VisualStudio2017/x64/Debug/Shared Code/include_juce_graphics.obj
RadTri/Builds/VisualStudio2017/x64/Debug/Shared Code/include_juce_gui_basics.obj
RadTri/Builds/VisualStudio2017/x64/Debug/Shared Code/include_juce_gui_extra.obj
RadTri/Builds/VisualStudio2017/x64/Debug/Shared Code/PluginEditor.obj
RadTri/Builds/VisualStudio2017/x64/Debug/Shared Code/PluginProcessor.obj
RadTri/Builds/VisualStudio2017/x64/Debug/Shared Code/RadTri.lib
RadTri/Builds/VisualStudio2017/x64/Debug/Shared Code/RadTri.lib.recipe
RadTri/Builds/VisualStudio2017/x64/Debug/Shared Code/RadTri.pdb
RadTri/Builds/VisualStudio2017/x64/Debug/Shared Code/RadTri_S.E0878AE7.tlog/CL.1184.write.1.tlog
RadTri/Builds/VisualStudio2017/x64/Debug/Shared Code/RadTri_S.E0878AE7.tlog/CL.command.1.tlog
RadTri/Builds/VisualStudio2017/x64/Debug/Shared Code/RadTri_S.E0878AE7.tlog/CL.read.1.tlog
RadTri/Builds/VisualStudio2017/x64/Debug/Shared Code/RadTri_S.E0878AE7.tlog/Lib-link.read.1.tlog
RadTri/Builds/VisualStudio2017/x64/Debug/Shared Code/RadTri_S.E0878AE7.tlog/Lib-link.write.1.tlog
RadTri/Builds/VisualStudio2017/x64/Debug/Shared Code/RadTri_S.E0878AE7.tlog/Lib.command.1.tlog
RadTri/Builds/VisualStudio2017/x64/Debug/Shared Code/RadTri_S.E0878AE7.tlog/RadTri_SharedCode.lastbuildstate
RadTri/Builds/VisualStudio2017/x64/Debug/Shared Code/RadTri_SharedCode.log
RadTri/Builds/VisualStudio2017/x64/Debug/Shared Code/RadTri_SharedCode.vcxproj.FileListAbsolute.txt
RadTri/Builds/VisualStudio2017/x64/Debug/Standalone Plugin/include_juce_audio_plugin_client_Standalone.obj
RadTri/Builds/VisualStudio2017/x64/Debug/Standalone Plugin/RadTri.exe
RadTri/Builds/VisualStudio2017/x64/Debug/Standalone Plugin/RadTri.exe.recipe
RadTri/Builds/VisualStudio2017/x64/Debug/Standalone Plugin/RadTri.ilk
RadTri/Builds/VisualStudio2017/x64/Debug/Standalone Plugin/RadTri.pdb
RadTri/Builds/VisualStudio2017/x64/Debug/Standalone Plugin/RadTri_S.2315F3F8.tlog/CL.command.1.tlog
RadTri/Builds/VisualStudio2017/x64/Debug/Standalone Plugin/RadTri_S.2315F3F8.tlog/CL.read.1.tlog
RadTri/Builds/VisualStudio2017/x64/Debug/Standalone Plugin/RadTri_S.2315F3F8.tlog/CL.write.1.tlog
RadTri/Builds/VisualStudio2017/x64/Debug/Standalone Plugin/RadTri_S.2315F3F8.tlog/link.command.1.tlog
RadTri/Builds/VisualStudio2017/x64/Debug/Standalone Plugin/RadTri_S.2315F3F8.tlog/link.read.1.tlog
RadTri/Builds/VisualStudio2017/x64/Debug/Standalone Plugin/RadTri_S.2315F3F8.tlog/link.write.1.tlog
RadTri/Builds/VisualStudio2017/x64/Debug/Standalone Plugin/RadTri_S.2315F3F8.tlog/RadTri_StandalonePlugin.lastbuildstate
RadTri/Builds/VisualStudio2017/x64/Debug/Standalone Plugin/RadTri_S.2315F3F8.tlog/rc.command.1.tlog
RadTri/Builds/VisualStudio2017/x64/Debug/Standalone Plugin/RadTri_S.2315F3F8.tlog/rc.read.1.tlog
RadTri/Builds/VisualStudio2017/x64/Debug/Standalone Plugin/RadTri_S.2315F3F8.tlog/rc.write.1.tlog
RadTri/Builds/VisualStudio2017/x64/Debug/Standalone Plugin/RadTri_StandalonePlugin.log
RadTri/Builds/VisualStudio2017/x64/Debug/Standalone Plugin/RadTri_StandalonePlugin.vcxproj.FileListAbsolute.txt
RadTri/Builds/VisualStudio2017/x64/Debug/Standalone Plugin/resources.res
RadTri/Builds/VisualStudio2017/x64/Debug/Standalone Plugin/vc142.pdb
RadTri/Builds/VisualStudio2017/x64/Debug/VST3/include_juce_audio_plugin_client_VST3.obj
RadTri/Builds/VisualStudio2017/x64/Debug/VST3/RadTri.exp
RadTri/Builds/VisualStudio2017/x64/Debug/VST3/RadTri.ilk
RadTri/Builds/VisualStudio2017/x64/Debug/VST3/RadTri.lib
RadTri/Builds/VisualStudio2017/x64/Debug/VST3/RadTri.pdb
RadTri/Builds/VisualStudio2017/x64/Debug/VST3/RadTri.vst3
RadTri/Builds/VisualStudio2017/x64/Debug/VST3/RadTri.vst3.recipe
RadTri/Builds/VisualStudio2017/x64/Debug/VST3/RadTri_VST3.log
RadTri/Builds/VisualStudio2017/x64/Debug/VST3/RadTri_VST3.tlog/CL.command.1.tlog
RadTri/Builds/VisualStudio2017/x64/Debug/VST3/RadTri_VST3.tlog/CL.read.1.tlog
RadTri/Builds/VisualStudio2017/x64/Debug/VST3/RadTri_VST3.tlog/CL.write.1.tlog
RadTri/Builds/VisualStudio2017/x64/Debug/VST3/RadTri_VST3.tlog/link.command.1.tlog
RadTri/Builds/VisualStudio2017/x64/Debug/VST3/RadTri_VST3.tlog/link.read.1.tlog
RadTri/Builds/VisualStudio2017/x64/Debug/VST3/RadTri_VST3.tlog/link.write.1.tlog
RadTri/Builds/VisualStudio2017/x64/Debug/VST3/RadTri_VST3.tlog/RadTri_VST3.lastbuildstate
RadTri/Builds/VisualStudio2017/x64/Debug/VST3/RadTri_VST3.tlog/RadTri_VST3.write.1u.tlog
RadTri/Builds/VisualStudio2017/x64/Debug/VST3/RadTri_VST3.tlog/rc.command.1.tlog
RadTri/Builds/VisualStudio2017/x64/Debug/VST3/RadTri_VST3.tlog/rc.read.1.tlog
RadTri/Builds/VisualStudio2017/x64/Debug/VST3/RadTri_VST3.tlog/rc.write.1.tlog
RadTri/Builds/VisualStudio2017/x64/Debug/VST3/RadTri_VST3.vcxproj.FileListAbsolute.txt
RadTri/Builds/VisualStudio2017/x64/Debug/VST3/resources.res
RadTri/Builds/VisualStudio2017/x64/Debug/VST3/vc142.pdb
RadTri/Builds/VisualStudio2019/.vs/RadTri/v16/.suo
RadTri/Builds/VisualStudio2019/.vs/RadTri/v16/Browse.VC.db
RadTri/Builds/VisualStudio2019/.vs/RadTri/v16/ipch/AutoPCH/3e801adf1bb5db46/PLUGINEDITOR.ipch
RadTri/Builds/VisualStudio2019/.vs/RadTri/v16/ipch/AutoPCH/edb6dee171859bfb/PLUGINPROCESSOR.ipch
RadTri/Builds/VisualStudio2019/.vs/RadTri/v16/Solution.VC.db
RadTri/Builds/VisualStudio2019/.vs/RadTri/v16/TestStore/0/000.testlog
RadTri/Builds/VisualStudio2019/.vs/RadTri/v16/TestStore/0/testlog.manifest
RadTri/Builds/VisualStudio2019/RadTri.sln
RadTri/Builds/VisualStudio2019/RadTri_SharedCode.vcxproj
RadTri/Builds/VisualStudio2019/RadTri_SharedCode.vcxproj.filters
RadTri/Builds/VisualStudio2019/RadTri_StandalonePlugin.vcxproj
RadTri/Builds/VisualStudio2019/RadTri_StandalonePlugin.vcxproj.filters
RadTri/Builds/VisualStudio2019/RadTri_StandalonePlugin.vcxproj.user
RadTri/Builds/VisualStudio2019/RadTri_VST3.vcxproj
RadTri/Builds/VisualStudio2019/RadTri_VST3.vcxproj.filters
RadTri/Builds/VisualStudio2019/resources.rc
RadTri/Builds/VisualStudio2019/x64/Debug/Shared Code/include_juce_audio_basics.obj
RadTri/Builds/VisualStudio2019/x64/Debug/Shared Code/include_juce_audio_devices.obj
RadTri/Builds/VisualStudio2019/x64/Debug/Shared Code/include_juce_audio_formats.obj
RadTri/Builds/VisualStudio2019/x64/Debug/Shared Code/include_juce_audio_plugin_client_utils.obj
RadTri/Builds/VisualStudio2019/x64/Debug/Shared Code/include_juce_audio_processors.obj
RadTri/Builds/VisualStudio2019/x64/Debug/Shared Code/include_juce_audio_utils.obj
RadTri/Builds/VisualStudio2019/x64/Debug/Shared Code/include_juce_core.obj
RadTri/Builds/VisualStudio2019/x64/Debug/Shared Code/include_juce_data_structures.obj
RadTri/Builds/VisualStudio2019/x64/Debug/Shared Code/include_juce_events.obj
RadTri/Builds/VisualStudio2019/x64/Debug/Shared Code/include_juce_graphics.obj
RadTri/Builds/VisualStudio2019/x64/Debug/Shared Code/include_juce_gui_basics.obj
RadTri/Builds/VisualStudio2019/x64/Debug/Shared Code/include_juce_gui_extra.obj
RadTri/Builds/VisualStudio2019/x64/Debug/Shared Code/PluginEditor.obj
RadTri/Builds/VisualStudio2019/x64/Debug/Shared Code/PluginProcessor.obj
RadTri/Builds/VisualStudio2019/x64/Debug/Shared Code/RadTri.lib
RadTri/Builds/VisualStudio2019/x64/Debug/Shared Code/RadTri.lib.recipe
RadTri/Builds/VisualStudio2019/x64/Debug/Shared Code/RadTri.pdb
RadTri/Builds/VisualStudio2019/x64/Debug/Shared Code/RadTri_S.E0878AE7.tlog/CL.22712.write.1.tlog
RadTri/Builds/VisualStudio2019/x64/Debug/Shared Code/RadTri_S.E0878AE7.tlog/CL.command.1.tlog
RadTri/Builds/VisualStudio2019/x64/Debug/Shared Code/RadTri_S.E0878AE7.tlog/CL.read.1.tlog
RadTri/Builds/VisualStudio2019/x64/Debug/Shared Code/RadTri_S.E0878AE7.tlog/Lib-link.read.1.tlog
RadTri/Builds/VisualStudio2019/x64/Debug/Shared Code/RadTri_S.E0878AE7.tlog/Lib-link.write.1.tlog
RadTri/Builds/VisualStudio2019/x64/Debug/Shared Code/RadTri_S.E0878AE7.tlog/Lib.command.1.tlog
RadTri/Builds/VisualStudio2019/x64/Debug/Shared Code/RadTri_S.E0878AE7.tlog/RadTri_SharedCode.lastbuildstate
RadTri/Builds/VisualStudio2019/x64/Debug/Shared Code/RadTri_SharedCode.log
RadTri/Builds/VisualStudio2019/x64/Debug/Shared Code/RadTri_SharedCode.vcxproj.FileListAbsolute.txt
RadTri/Builds/VisualStudio2019/x64/Debug/Standalone Plugin/include_juce_audio_plugin_client_Standalone.obj
RadTri/Builds/VisualStudio2019/x64/Debug/Standalone Plugin/RadTri.exe
RadTri/Builds/VisualStudio2019/x64/Debug/Standalone Plugin/RadTri.exe.recipe
RadTri/Builds/VisualStudio2019/x64/Debug/Standalone Plugin/RadTri.ilk
RadTri/Builds/VisualStudio2019/x64/Debug/Standalone Plugin/RadTri.pdb
RadTri/Builds/VisualStudio2019/x64/Debug/Standalone Plugin/RadTri_S.2315F3F8.tlog/CL.command.1.tlog
RadTri/Builds/VisualStudio2019/x64/Debug/Standalone Plugin/RadTri_S.2315F3F8.tlog/CL.read.1.tlog
RadTri/Builds/VisualStudio2019/x64/Debug/Standalone Plugin/RadTri_S.2315F3F8.tlog/CL.write.1.tlog
RadTri/Builds/VisualStudio2019/x64/Debug/Standalone Plugin/RadTri_S.2315F3F8.tlog/link.command.1.tlog
RadTri/Builds/VisualStudio2019/x64/Debug/Standalone Plugin/RadTri_S.2315F3F8.tlog/link.read.1.tlog
RadTri/Builds/VisualStudio2019/x64/Debug/Standalone Plugin/RadTri_S.2315F3F8.tlog/link.write.1.tlog
RadTri/Builds/VisualStudio2019/x64/Debug/Standalone Plugin/RadTri_S.2315F3F8.tlog/RadTri_StandalonePlugin.lastbuildstate
RadTri/Builds/VisualStudio2019/x64/Debug/Standalone Plugin/RadTri_S.2315F3F8.tlog/rc.command.1.tlog
RadTri/Builds/VisualStudio2019/x64/Debug/Standalone Plugin/RadTri_S.2315F3F8.tlog/rc.read.1.tlog
RadTri/Builds/VisualStudio2019/x64/Debug/Standalone Plugin/RadTri_S.2315F3F8.tlog/rc.write.1.tlog
RadTri/Builds/VisualStudio2019/x64/Debug/Standalone Plugin/RadTri_StandalonePlugin.log
RadTri/Builds/VisualStudio2019/x64/Debug/Standalone Plugin/RadTri_StandalonePlugin.vcxproj.FileListAbsolute.txt
RadTri/Builds/VisualStudio2019/x64/Debug/Standalone Plugin/resources.res
RadTri/Builds/VisualStudio2019/x64/Debug/Standalone Plugin/vc142.pdb
RadTri/Builds/VisualStudio2019/x64/Debug/VST3/include_juce_audio_plugin_client_VST3.obj
RadTri/Builds/VisualStudio2019/x64/Debug/VST3/RadTri.exp
RadTri/Builds/VisualStudio2019/x64/Debug/VST3/RadTri.ilk
RadTri/Builds/VisualStudio2019/x64/Debug/VST3/RadTri.lib
RadTri/Builds/VisualStudio2019/x64/Debug/VST3/RadTri.pdb
RadTri/Builds/VisualStudio2019/x64/Debug/VST3/RadTri.vst3
RadTri/Builds/VisualStudio2019/x64/Debug/VST3/RadTri.vst3.recipe
RadTri/Builds/VisualStudio2019/x64/Debug/VST3/RadTri_VST3.log
RadTri/Builds/VisualStudio2019/x64/Debug/VST3/RadTri_VST3.tlog/CL.command.1.tlog
RadTri/Builds/VisualStudio2019/x64/Debug/VST3/RadTri_VST3.tlog/CL.read.1.tlog
RadTri/Builds/VisualStudio2019/x64/Debug/VST3/RadTri_VST3.tlog/CL.write.1.tlog
RadTri/Builds/VisualStudio2019/x64/Debug/VST3/RadTri_VST3.tlog/link.command.1.tlog
RadTri/Builds/VisualStudio2019/x64/Debug/VST3/RadTri_VST3.tlog/link.read.1.tlog
RadTri/Builds/VisualStudio2019/x64/Debug/VST3/RadTri_VST3.tlog/link.write.1.tlog
RadTri/Builds/VisualStudio2019/x64/Debug/VST3/RadTri_VST3.tlog/RadTri_VST3.lastbuildstate
RadTri/Builds/VisualStudio2019/x64/Debug/VST3/RadTri_VST3.tlog/RadTri_VST3.write.1u.tlog
RadTri/Builds/VisualStudio2019/x64/Debug/VST3/RadTri_VST3.tlog/rc.command.1.tlog
RadTri/Builds/VisualStudio2019/x64/Debug/VST3/RadTri_VST3.tlog/rc.read.1.tlog
RadTri/Builds/VisualStudio2019/x64/Debug/VST3/RadTri_VST3.tlog/rc.write.1.tlog
RadTri/Builds/VisualStudio2019/x64/Debug/VST3/RadTri_VST3.vcxproj.FileListAbsolute.txt
RadTri/Builds/VisualStudio2019/x64/Debug/VST3/resources.res
RadTri/Builds/VisualStudio2019/x64/Debug/VST3/vc142.pdb
RadTri/JuceLibraryCode/include_juce_audio_basics.cpp
RadTri/JuceLibraryCode/include_juce_audio_basics.mm
RadTri/JuceLibraryCode/include_juce_audio_devices.cpp
RadTri/JuceLibraryCode/include_juce_audio_devices.mm
RadTri/JuceLibraryCode/include_juce_audio_formats.cpp
RadTri/JuceLibraryCode/include_juce_audio_formats.mm
RadTri/JuceLibraryCode/include_juce_audio_plugin_client_AAX.cpp
RadTri/JuceLibraryCode/include_juce_audio_plugin_client_AAX.mm
RadTri/JuceLibraryCode/include_juce_audio_plugin_client_AU.r
RadTri/JuceLibraryCode/include_juce_audio_plugin_client_AU_1.mm
RadTri/JuceLibraryCode/include_juce_audio_plugin_client_AU_2.mm
RadTri/JuceLibraryCode/include_juce_audio_plugin_client_AUv3.mm
RadTri/JuceLibraryCode/include_juce_audio_plugin_client_RTAS.r
RadTri/JuceLibraryCode/include_juce_audio_plugin_client_RTAS_1.cpp
RadTri/JuceLibraryCode/include_juce_audio_plugin_client_RTAS_2.cpp
RadTri/JuceLibraryCode/include_juce_audio_plugin_client_RTAS_3.cpp
RadTri/JuceLibraryCode/include_juce_audio_plugin_client_RTAS_4.cpp
RadTri/JuceLibraryCode/include_juce_audio_plugin_client_RTAS_utils.cpp
RadTri/JuceLibraryCode/include_juce_audio_plugin_client_RTAS_utils.mm
RadTri/JuceLibraryCode/include_juce_audio_plugin_client_Standalone.cpp
RadTri/JuceLibraryCode/include_juce_audio_plugin_client_Unity.cpp
RadTri/JuceLibraryCode/include_juce_audio_plugin_client_utils.cpp
RadTri/JuceLibraryCode/include_juce_audio_plugin_client_VST2.cpp
RadTri/JuceLibraryCode/include_juce_audio_plugin_client_VST3.cpp
RadTri/JuceLibraryCode/include_juce_audio_plugin_client_VST_utils.mm
RadTri/JuceLibraryCode/include_juce_audio_processors.cpp
RadTri/JuceLibraryCode/include_juce_audio_processors.mm
RadTri/JuceLibraryCode/include_juce_audio_utils.cpp
RadTri/JuceLibraryCode/include_juce_audio_utils.mm
RadTri/JuceLibraryCode/include_juce_core.cpp
RadTri/JuceLibraryCode/include_juce_core.mm
RadTri/JuceLibraryCode/include_juce_data_structures.cpp
RadTri/JuceLibraryCode/include_juce_data_structures.mm
RadTri/JuceLibraryCode/include_juce_events.cpp
RadTri/JuceLibraryCode/include_juce_events.mm
RadTri/JuceLibraryCode/include_juce_graphics.cpp
RadTri/JuceLibraryCode/include_juce_graphics.mm
RadTri/JuceLibraryCode/include_juce_gui_basics.cpp
RadTri/JuceLibraryCode/include_juce_gui_basics.mm
RadTri/JuceLibraryCode/include_juce_gui_extra.cpp
RadTri/JuceLibraryCode/include_juce_gui_extra.mm
RadTri/JuceLibraryCode/JuceHeader.h
RadTri/JuceLibraryCode/JucePluginDefines.h
RadTri/JuceLibraryCode/ReadMe.txt
RadTri/RadTri.jucer
RadTri/Builds/VisualStudio2019/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/license (MIT).txt
RadTri/Builds/VisualStudio2019/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.3/ThirdPartyNotices.txt
RadTri/Builds/VisualStudio2019/RadTri_SharedCode.vcxproj.user
RadTri/Builds/VisualStudio2019/x64/Debug/Shared Code/RadTri_S.E0878AE7.tlog/CL.write.1.tlog
